//
//  APIConfig.xcconfig
//  Marvel
//
//  Created by Bill on 6/7/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https://gateway.marvel.com/v1/public/characters
API_PUBLIC_KEY = 2a574d72e083e2ee7bbd28cbebd7a590
API_PRIVATE_KEY = 9f12c0fdeb84da7175f8509a55b85bafb9b22974

